ALTER TABLE patio_os ADD COLUMN IF NOT EXISTS history_log JSONB DEFAULT '[]'::jsonb;
-- 1. Adicionar Unique Constraint na tabela import_logs e permitir store_id nulo (GLOBAL)
ALTER TABLE public.import_logs ALTER COLUMN store_id DROP NOT NULL;

ALTER TABLE public.import_logs
DROP CONSTRAINT IF EXISTS import_logs_store_id_target_date_key;

-- PostgreSQL permite UNIQUE constraint com valores NULL, mas dependendo da versÃ£o, 
-- dois NULLs nÃ£o causam conflito. Para evitar problemas, adicionamos uma constraint
-- que lida com store_id. Na prÃ¡tica, a UI passa 'GLOBAL' ou o id. 
-- Se a coluna estiver como null, o upsert lidarÃ¡ com nulls como distintos.
ALTER TABLE public.import_logs
ADD CONSTRAINT import_logs_store_id_target_date_key UNIQUE NULLS NOT DISTINCT (store_id, target_date);

-- 2. Garantir PolÃ­ticas de RLS para insert/update/read (supondo ambiente anon)
-- OBS: Adapte de acordo com a estratÃ©gia de auth real do seu projeto.
ALTER TABLE public.import_logs ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Enable read access for all users" ON public.import_logs;
CREATE POLICY "Enable read access for all users" ON public.import_logs
    FOR SELECT USING (true);

DROP POLICY IF EXISTS "Enable insert access for all users" ON public.import_logs;
CREATE POLICY "Enable insert access for all users" ON public.import_logs
    FOR INSERT WITH CHECK (true);

DROP POLICY IF EXISTS "Enable update access for all users" ON public.import_logs;
CREATE POLICY "Enable update access for all users" ON public.import_logs
    FOR UPDATE USING (true);

DROP POLICY IF EXISTS "Enable delete access for all users" ON public.import_logs;
CREATE POLICY "Enable delete access for all users" ON public.import_logs
    FOR DELETE USING (true);

-- 3. Retroativo: Reconstruir import_logs a partir das transactions existentes
-- Isso agrupa transaÃ§Ãµes de "out" (despesas) ou "OS #" e gera logs baseados nos lotes criados
INSERT INTO public.import_logs (store_id, store_name, target_date, total_os, total_paid_all, total_dinheiro, os_count, receivables_count, created_at)
SELECT 
    t.store_id,
    COALESCE(MAX(t.store_name), MAX(s.name), 'Lote Desconhecido') as store_name,
    DATE(t.occurred_at) as target_date,
    0 as total_os,
    SUM(t.amount) as total_paid_all,
    0 as total_dinheiro,
    0 as os_count,
    0 as receivables_count,
    MAX(t.created_at) as created_at
FROM public.transactions t
LEFT JOIN public.stores s ON s.id = t.store_id
WHERE t.type = 'out' AND t.title != 'Ajuste de Saldo'
GROUP BY t.store_id, DATE(t.occurred_at)
ON CONFLICT (store_id, target_date) DO NOTHING;

-- Nota: Para transaÃ§Ãµes de OS (in), se elas nÃ£o foram registradas, o script seria similar
INSERT INTO public.import_logs (store_id, store_name, target_date, total_os, total_paid_all, total_dinheiro, os_count, receivables_count, created_at)
SELECT 
    t.store_id,
    COALESCE(MAX(t.store_name), MAX(s.name), 'Lote Desconhecido') as store_name,
    DATE(t.occurred_at) as target_date,
    SUM(t.amount) as total_os,
    SUM(t.amount) as total_paid_all,
    0 as total_dinheiro,
    COUNT(t.id) as os_count,
    0 as receivables_count,
    MAX(t.created_at) as created_at
FROM public.transactions t
LEFT JOIN public.stores s ON s.id = t.store_id
WHERE t.type = 'in' AND t.title LIKE 'OS #%'
GROUP BY t.store_id, DATE(t.occurred_at)
ON CONFLICT (store_id, target_date) DO NOTHING;
-- Migration: Create delete_import_batch RPC for atomic cascade deletes

CREATE OR REPLACE FUNCTION delete_import_batch(
    p_store_id UUID,
    p_target_dates TEXT[],
    p_is_expense BOOLEAN,
    p_log_ids UUID[],
    p_batch_created_ats TIMESTAMPTZ[] DEFAULT '{}'::TIMESTAMPTZ[]
)
RETURNS VOID AS $$
BEGIN
    -- Se Ã© despesa, a lÃ³gica baseia-se unicamente em 'created_at' do transaction
    IF p_is_expense THEN
        IF p_store_id IS NULL THEN
            DELETE FROM public.transactions 
            WHERE store_id IS NULL 
              AND created_at = ANY(p_batch_created_ats);
        ELSE
            DELETE FROM public.transactions 
            WHERE store_id = p_store_id 
              AND created_at = ANY(p_batch_created_ats);
        END IF;
    ELSE
        -- Se Ã© OS/Receita, limpamos todas as tabelas filhas relacionadas Ã quelas datas e loja
        IF p_store_id IS NOT NULL THEN
            -- 1. Apagar transaÃ§Ãµes oriundas de OS (extrato)
            DELETE FROM public.transactions
            WHERE store_id = p_store_id
              AND DATE(occurred_at) = ANY(p_target_dates::DATE[])
              AND title LIKE 'OS #%';

            -- 2. Apagar recebÃ­veis pendentes/recebidos
            DELETE FROM public.receivables
            WHERE store_id = p_store_id
              AND DATE(date) = ANY(p_target_dates::DATE[]);

            -- 3. Apagar conciliaÃ§Ãµes atreladas
            DELETE FROM public.reconciliations
            WHERE store_id = p_store_id
              AND DATE(date) = ANY(p_target_dates::DATE[]);

            -- 4. Limpar o PÃ¡tio (OS fechadas nestas datas OU que ainda estÃ£o abertas/parciais)
            DELETE FROM public.patio_os
            WHERE store_id = p_store_id
              AND (
                  DATE(closed_at) = ANY(p_target_dates::DATE[])
                  OR status IN ('em_aberto', 'pago_parcial')
              );
        END IF;
    END IF;

    -- 5. Apagar os prÃ³prios logs da tabela import_logs
    IF p_log_ids IS NOT NULL AND array_length(p_log_ids, 1) > 0 THEN
        DELETE FROM public.import_logs
        WHERE id = ANY(p_log_ids);
    END IF;

END;
$$ LANGUAGE plpgsql;
ALTER TABLE reconciliations ADD COLUMN IF NOT EXISTS machine_total NUMERIC DEFAULT 0;
ALTER TABLE "public"."reconciliations"
ADD COLUMN "ofx_imported" boolean DEFAULT false,
ADD COLUMN "bank_divergence" numeric DEFAULT 0,
ADD COLUMN "machine_fees" numeric DEFAULT 0;
ALTER TABLE reconciliations
ADD COLUMN bank_total NUMERIC DEFAULT 0;
